pkgbase = gnome-calls-git
	pkgdesc = Phone dialer and call handler built from a pinned GNOME Calls release tag
	pkgver = 50.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/calls
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = appstream
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	makedepends = python-docutils
	makedepends = vala
	depends = callaudiod
	depends = dconf
	depends = evolution-data-server
	depends = feedbackd
	depends = folks
	depends = glib2
	depends = glibc
	depends = gom
	depends = gsound
	depends = gstreamer
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libgcc
	depends = libgee
	depends = libmm-glib
	depends = libpeas-2
	depends = libsecret
	depends = mobile-broadband-provider-info
	depends = sofia-sip
	depends = vala
	provides = gnome-calls
	conflicts = gnome-calls
	source = calls::git+https://gitlab.gnome.org/GNOME/calls.git#tag=v50.0
	source = libcall-ui::git+https://gitlab.gnome.org/World/Phosh/libcall-ui.git#commit=3a2044f8e7c45387954ed35d22c6b6309e6751d6
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = gnome-calls-git
